<form>
    <h2>Cadastro de Livro</h2>
    <div class="form-group">
        <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="ex: Arquiteura Limpa" required>
        </div>
        <div class="mb-3">
            <label for="publisher" class="form-label">Editora:</label>
            <input name="publisher" type="text" class="form-control" id="publisher" placeholder="ex: Saraiva" required>
        </div>
        <div class="mb-3">
            <label for="edition" class="form-label">Edição:</label>
            <input name="edition" type="number" class="form-control" id="edition" placeholder="ex: 1" required>
        </div>
        <div class="mb-3">
            <label for="yearofpublication" class="form-label">Ano de Publicação:</label>
            <input name="yearofpublication" type="text" class="form-control" id="yearofpublication"
                placeholder="ex: 2015" required ngModel>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Autor:</label>
            <select name="author" class="form-select" id="author" aria-label="Default select example" required>
                <option *ngFor="let item of autor" value="{{item.authorId}}">
                    {{ item.name }}
            </select>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Assunto:</label>
            <select name="subject" class="form-select" id="subject" aria-label="Default select example" required>
                <option *ngFor="let item of assunto" value="{{item.subjectId}}">
                    {{ item.description }}
            </select>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Salvar">
</form>